<!-- Portfolio Modals -->
{% for project in site.portfolio %}
{% if site.locale and site.locale != "" and site.locale != nil %}
<div
  class="portfolio-modal modal fade"
  id="p{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>
              <img
                class="img-fluid d-block mx-auto"
                src="{{ project.image }}"
                alt="{{ project.alt }}"
              />
              <p>{{ project.content }}</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton |
                default: "Close Project" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div
  class="portfolio-modal modal fade"
  id="p{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>
              <img
                class="img-fluid d-block mx-auto"
                src="{{ project.image }}"
                alt="{{ project.alt }}"
              />
              <p>{{ project.content }}</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext.portfolio.closebutton |
                default: "Close Project" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
<!-- End Portfolio Modals -->

<!-- Handle browser back button for modals -->
<script>
(function() {
  console.log('Modal back button script loaded');
  
  // Wait for both DOM and scripts to be ready
  window.addEventListener('load', function() {
    console.log('Window loaded, checking for jQuery:', typeof jQuery !== 'undefined');
    
    if (typeof jQuery === 'undefined') {
      console.error('jQuery not loaded!');
      return;
    }
    
    let modalIsOpen = false;
    let currentModal = null;
    
    // Get all modals using jQuery
    const $modals = jQuery('.portfolio-modal');
    console.log('Found modals:', $modals.length);
    
    // Listen to modal events using jQuery
    $modals.on('shown.bs.modal', function(e) {
      console.log('Modal shown event fired');
      if (!modalIsOpen) {
        modalIsOpen = true;
        currentModal = this;
        history.pushState({modalOpen: true}, '');
        console.log('Pushed history state');
      }
    });
    
    $modals.on('hide.bs.modal', function(e) {
      console.log('Modal hide event fired');
      if (modalIsOpen && !e.fromPopstate) {
        modalIsOpen = false;
        currentModal = null;
        history.back();
        console.log('Going back in history');
      }
    });
    
    // Listen for popstate (back button)
    window.addEventListener('popstate', function(e) {
      console.log('Popstate event fired, modalIsOpen:', modalIsOpen);
      if (modalIsOpen && currentModal) {
        modalIsOpen = false;
        console.log('Closing modal from back button');
        jQuery(currentModal).modal('hide');
        currentModal = null;
      }
    });
  });
})();
</script>
